/*всплывающие подсказки*/
#tt {position:absolute; display:block;
	padding:10px;
	border:solid #089dcb;
	border-width:1px;
	border-radius:10px 10px 10px 0px;
	-webkit-border-radius:10px 10px 10px 0px;
	-moz-border-radius:10px 10px 10px 0px;
	-webkit-box-shadow:1px 1px 2px #888888;
	-moz-box-shadow:1px 1px 2px #888888;
	box-shadow:1px 1px 2px #888888;
	background-color:#ffD;
}
.hlp1 {	color:#000;border:#9fbddd 1px solid;background-color:#E7F5FE;
	cursor:help;margin-left:5px;line-height:14px;
	width:12px;display:inline-block;text-align:center;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	font-weight:100;
	text-indent:0;
}
/******************************/
P {
	color: #555;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}